{% extends 'rental/base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}

<section class="hero-wrap hero-wrap-2 js-fullheight"
    style="background-image: url('{% static 'rental/images/bg_3.jpg' %}');" data-stellar-background-ratio="0.5">
    <div class="overlay"></div>
    <div class="container">
        <div class="row no-gutters slider-text js-fullheight align-items-end justify-content-start">
            <div class="col-md-9 ftco-animate pb-5">
                <p class="breadcrumbs"><span class="mr-2"><a href="{% url 'index' %}">Home <i
                                class="ion-ios-arrow-forward"></i></a></span> <span>Profile <i
                            class="ion-ios-arrow-forward"></i></span></p>
                <h1 class="mb-3 bread">Update your Profile</h1>
            </div>
        </div>
    </div>
</section>
<br><br>
<section>
    <div class="container form-layout">
        <div class="account-wall">
            <h4 class="text-center">Update Profile</h4>
            <hr>
            <img class="profile-img"
                src="{{ user.profile.image.url }}"
                alt="">
            <form class="form-signin" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                {{ u_form|crispy }}
                {{ p_form|crispy }}
                <button class="btn btn-lg btn-primary btn-block" type="submit">
                   Update</button>
                <br>
                <a href="{% url 'delete-account' %}" class="text-center new-account">Delete Account</a>
            </form>
        </div>
    </div>
</section>
<br><br>
{% endblock %}